.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem 8%;
  background: #f1f5f9;
  color: #2f2f2f;
}

.contact-left {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
}

.contact-title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.contact-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.social-icons {
  display: flex;
  gap: 1rem; /* Tighter spacing */
  background: #f1f5f9;
  border-radius:30px;
  padding: 0.8rem 1rem;  /* Very minimal padding */
  justify-content: center;
  box-shadow: 6px 6px 12px #d1d9e6, -6px -6px 12px #ffffff;
}

.social-icons a {
  width: 48px;
  height: 48px;
  background: #f1f5f9;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #d1d9e6, -3px -3px 8px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #2f2f2f;
  transition: 0.2s ease;
  text-decoration: none;
}

.social-icons a:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 5px #d1d9e6, -2px -2px 5px #ffffff;
}

/* Exact brand colors (no hover color change) */
.social-icons a:nth-child(1) i { color: #0077b5; }  
.social-icons a:nth-child(2) i { color: #211F1F; }  
.social-icons a:nth-child(3) i { color: #e1306c; }  
.social-icons a:nth-child(4) i { color: #1da1f2; }  
.social-icons a:nth-child(5) i { color: #D44638; }  

.contact-right {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  background: #f1f5f9;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form label {
  font-weight: 800;
  color: #2f2f2f;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  border: none;
  border-radius: 15px;
  background: #f1f5f9;
  box-shadow: inset 6px 6px 10px #d1d9e6, inset -6px -6px 10px #ffffff;
  font-size: 1rem;
  resize: none;
  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(249, 115, 22, 0.4);
}

.contact-form button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 6px 6px 12px #d1d9e6, -6px -6px 12px #ffffff;
  transition: 0.3s ease;
}

.contact-form button:hover {
  transform: translateY(-4px);
  background-color: hsl(185, 66%, 63%);
  color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .contact-wrapper{
    justify-content: center;
    text-align: center;
  }
  .contact-right{
    margin-top: 2rem;
  }
}