.education {
    padding: 5rem 8%;
    background: #f1f5f9;
  }
  
  .education-heading {
    font-size: 2rem;
    font-weight: 800;
    color: #000000;
    margin-bottom: 2rem;
    padding-top: 30px;
    text-align: center;
  }
  
  .education-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .edu-card {
    background: #f1f5f9;
    box-shadow: 9px 9px 16px #d1d9e6, -9px -9px 16px #ffffff;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    transition: 0.3s ease;
  }
  
  .edu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  }
  
  .edu-degree {
    font-size: 1.2rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 0.4rem;
  }
  
  .edu-college {
    font-size: 1.2rem;
    color: #475569;
    margin-bottom: 0.5rem;
  }
  
  .edu-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #334155;
  }
  
  .internship-card {
    background: #f1f5f9;
    box-shadow: 9px 9px 16px #d1d9e6, -9px -9px 16px #ffffff;
    padding: 2rem;
    border-radius: 20px;
    margin-top: 2rem;
  }
  
  .internship-points {
    padding-left: 1.3rem;
    margin-top: 1rem;
    color: #475569;
    font-size: 0.95rem;
  }
  
  .internship-points li {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;

  }
  