.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 8%;
  min-height: 100vh;
  background: #f1f5f9;
  gap: 1rem;
  /* transition: transform 0.5s ease;
  animation: slideIn 3s ease forwards; */
}
/* .hero:hover {
  transform: perspective(1200px) rotateX(2deg) rotateY(2deg) scale(1.01);
} */
.hero-left {
  flex: 1 1 300px;
}

.hero-hello {
  font-family: "Parisienne", cursive;
  font-size: 2.5rem;
  color: #2f2f2f;
  margin-bottom: 0.5rem;
  font-weight: 900;
}

.hero-name {
  font-size: 4rem;
  font-weight: 800;
  color: #1f1f1f;
  margin: 0;
  transition: transform 0.4s ease;
}
.hero-name:hover {
  transform: scale(1.05); /* <<< Slight zoom effect on hover */
}

.hero-tagline {
  font-size: 1rem;
  text-transform: uppercase;
  color: #121010;
  letter-spacing: 2px;
  margin-top: 1rem;
  font-weight: bold;
}

.hero-tagline .highlight {
  color: #f97316; /* orange-500 */
  font-weight: 800;
}

.hero-right {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-wrapper {
  background: #999595;
  box-shadow: 9px 9px 16px #efeded, -9px -9px 16px #fffcfc;
  padding: 2rem;
  border-radius: 50%;
  transition: transform 0.4s ease;
}
.hero-image-wrapper:hover {
  transform: rotate(7deg) scale(1.05); /* <<< Rotate + Scale little bit */
}
.hero-image {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #f1f5f9;
}

/* ---------- Responsive Design ---------- */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-left {
    margin-top: 2rem;
  }

  .hero-name {
    font-size: 2.8rem;
  }

  .hero-hello {
    font-size: 2rem;
  }

  .hero-tagline {
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 7rem 0.5rem;
  }

  .hero-image {
    width: 220px;
    height: 220px;
  }

  .hero-name {
    font-size: 2.5rem;
  }

  .hero-hello {
    font-size: 2rem;
    font-weight: bolder;
  }

  .hero-tagline {
    font-size: 0.9rem;
    font-weight: bold;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
